<div class="container home-component d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col">
            <h3 class="fw-bold subTitle"> About </h3>
            <br>
            <h5 class="bg-white p-5 rounded about-desc">An individual who wants to contribute to work in the hope of establishing good cooperation with colleagues in the work environment. I am personally open to new knowledge and use input as motivation to create better work </h5>       
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col">
            <h3 class="fw-bold subTitle">{{ skills }}</h3>
            <br>
            <ul class="d-flex justify-content-around rounded-pill about-skills" style="list-style: none; padding: 0px; background-color: #fff;">
                <li class="bg-image hover-zoom">
                    <img [src]="html" alt="html">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="css" alt="css">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="js" alt="js" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="bootstrap" alt="bootstrap" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="angular" alt="angular" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="api" alt="api" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="git" alt="git" width="50">
                </li>
                <li class="bg-image hover-zoom">
                    <img [src]="vsc" alt="vsc" width="50">
                </li>
            </ul>           
        </div>
    </div>
</div>