<div class="container home-component d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col">
            <div class=" row">
            <div class="col-6">
            <h3 class="fw-bold Title"> PT INDONET </h3>
            <h5 class="f2-bold subTitle">Technical Operation</h5>
            </div>

            <div class="col-6 d-flex flex-column align-items-end justify-content-end">
            
            <h5 class="f2-bold subTitle"> December, 2021 - December, 2022</h5>
            </div>
            </div>

            <h5 class=" bg-white p-5 round about-desc"> Maintain and care for the internet network, including by monitoring the necessary devices or applications, identifying problems that need to be followed up and making maintenance reports.</h5>
            
            <br>
            

    <div class="row">
        <div class="col">
            <div class=" row">
            <div class="col-6">
            <h3 class="fw-bold Title"> PT ILCS </h3>
            <h5 class="f2-bold subTitle">Engineer On Site</h5>
            </div>

            <div class="col-6 d-flex flex-column align-items-end justify-content-end">
            
            <h5 class="f2-bold subTitle">December, 2019 - July, 2020</h5>
            </div>
            </div>

            <h5 class=" bg-white p-5 round about-desc"> Evaluate the attributes or capabilities of a program or system and determine whether the program or system has met the needs or expected results .</h5>
            
            
