<div class="container home-component d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col d-flex justify-content-around bg-white py-5 rounded">
            <h3 class="text-center d-flex flex-column justify-content-center fw-bold">Get in Touch</h3>
            <div class="mail text-center border p-5 shadow-sm about-desc" style="border-radius: 50px;">
                <img src="./assets/gmail.svg" alt="mail" width="50">
                <br><br>
                <a href="mailto:henhen56566565@gmail.com" class="d-block text-black">henhen56566565&#64;gmail.com </a>
                </div>
                <div class="wa text-center border p-5 shadow-sm about-desc" style="border-radius: 50px;">
                    <img src="./assets/wa.svg" alt="wa" width="50">
                    <br>
                    <a href="https://wa.me/087743210768" target="_blank" class="d-block text-black mt-3 px-3">+62-877-4321-0768</a>
                </div>
            </div>
        </div>
    </div>


            
            
