<div class="container home-component d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-end">
            <img src="assets/ilustrasi.jpg" alt="bio" width="250" height="250" class="rounded-circle shadow">
        </div>
        <div class="col mt-3 home-desc">
            <h5>HELLO.. I'M</h5>
            <h1>HENDRY AGUS</h1>
            <p><span style="color: rgb(48, 215, 245);">IT SUPPORT</span> based in Jakarta, Indonesia. Working together to solve problems is valuable knowledge for me.</p>
            <a class="text-decoration-none text-white px-3 py-2 rounded-pill btn-danger hover-shadow" href="../../assets/" download>Resume</a>
            <span class="mx-5 hover-shadow">

            <a href="https://github.com/" target="_blank">
                <button class="border-0 bg-white px-1 py-1 rounded shadow-sm" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="#DC3545" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>


                    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
                    </svg>
                </button>
            </a>
            </span>

    </div>
</div>
</div>





